[submodule "SDL12-kms-dispmanx"]
	path = SDL12-kms-dispmanx
	url = https://github.com/vanfanel/SDL12-kms-dispmanx.git
[submodule "guichan"]
	path = guichan
	url = https://github.com/sphaero/guichan.git
